<!--Title-->
<h2 class="text-center mt-5"><span class="bg-success rounded-pill rounded-bottom-0 text-white px-5 py-2">Fatores cardiovasculares</span></h2>
<!--------->
<!--Content-->

<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <div class="form-group p-3" formGroupName="biologicalAspectsForm">
    <div class="form-group p-3" formGroupName="cardiovascularFactorsForm">
      <app-base>
        <!-- Lado Esquerdo-->
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: lightgrey;">
          <b>DOENÇAS CARDIOVASCULARES (DCV)</b>
        </div>

        <!-- Centro -->
        <span class="col-12 col-md-9">

          <!--Pergunta1-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">33. </b>O(A) senhor(a) tem histórico familiar (1º grau) de DCV (infarto, derrama e/ou angina)?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q33_dcv_familiar_history">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q33_dcv_familiar_history')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!------------->
          <!--Pergunta2-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">34. </b>O(a) senhor(a) tem hipertensão arterial descontrolada? 
              </div>
              <div class="caixa-100">
                <strong>
                  Pontuar como sim quando PA auto referida for superior a 140/90mmHg ou caso o(a) idoso(a) não saiba informar. 
                </strong>
              </div>
              <div class="caixa-100">
                <div class="caixa-60" style="padding-bottom: 10px;">
                  Desconhece os valores da PA?
                </div>
                <div class="caixa-30">
                  <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q34_hypertension_unknow">
                    <option value="" selected disabled>Selecione</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                  </select>                  
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q34_hypertension_unknow')" width="15px" height="15px">
                </div>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q34_hypertension">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q34_hypertension')" width="15px" height="15px">
              </div>
            </span>
          </app-base>          


          <!-------------->
          <!--Pergunta3-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">35. </b>O(A) senhor(a) tem diabetes? Se sim, está descontrolada?  
              </div>
              <div class="caixa-100">
                <strong>
                  Pontuar como sim quando glicemia em jejum verificada em último exame for superior a 100 mg/dL, 
                  respectivamente, ou caso o(a) idoso(a) não saiba informar. 
                </strong>
              </div>
              <div class="caixa-100">
                <div class="caixa-60" style="padding-bottom: 10px;"> 
                  Desconhece os valores de glicemia?
                </div>
                <div class="caixa-30">
                  <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q35_unknown_value_glycemia">
                    <option value="" selected disabled>Selecione</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                  </select>                  
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q35_unknown_value_glycemia')" width="15px" height="15px">
                </div>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q35_uncontrolled_diabetes">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q35_uncontrolled_diabetes')" width="15px" height="15px">
              </div>
            </span>
          </app-base>    

          <!-------------->
          <!--Pergunta4-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">36. </b>O(A) senhor(a) colesterol alterado? 
              </div>
              <div class="caixa-100">
                <strong>
                  Pontuar como sim quando CT e HDL forem verificados em último exame como superior a 200 mg/dL e 60mg/dL, 
                  respectivamente, ou caso o(a) idoso(a) não saiba informar. 
                </strong>
              </div>
              <div class="caixa-100">
                <div class="caixa-60" style="padding-bottom: 10px;">
                  Desconhece os valores de CT e HDL?
                </div>
                <div class="caixa-30">
                  <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q36_unknown_value_ct_hdl">
                    <option value="" selected disabled>Selecione</option>
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                  </select>                  
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q36_unknown_value_ct_hdl')" width="15px" height="15px">
                </div>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q36_cholesterol">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q36_cholesterol')" width="15px" height="15px">
              </div>
            </span>
          </app-base> 

          <!--Pergunta5-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">37. </b>O(A) senhor(a) fuma ou é ex-fumante? 
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q37_smoker">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q37_smoker')" width="15px" height="15px">
              </div>
            </span>
          </app-base> 


          <!--Pergunta6-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">38. </b>O(A) senhor(a) pratica mais de 150 minutos de exercícios físicos por semana? 
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q38_practice_150_minutes_exercises">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q38_practice_150_minutes_exercises')" width="15px" height="15px">
              </div>
            </span>
          </app-base> 


          <!------------->
          <!--Pergunta7-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">39. </b>O(A) senhor(a) considera que sua alimentação é saudável? 
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q39_healthy_eating">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q39_healthy_eating')" width="15px" height="15px">
              </div>
            </span>
          </app-base>           

          <!------------->
          <!--Pergunta8-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">40. </b>Na última semana, o(a) senhor(a) ingeriu bebidas alcoólicas? 
                Se sim, descrever abaixo os tipos e quantidade: 
              </div>
              <div class="caixa-100">
                <div class="caixa-90">
                  <textarea style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q40_alcohol_Ingested_last_week_amount">
                  </textarea> 
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q40_alcohol_Ingested_last_week_amount')" width="15px" height="15px">
                </div>
              </div>
              <div class="caixa-100">
                <b>[Depois assinale ao lado a resposta equivalente, considerando asseguintes referências]</b>
              </div>
              <div class="caixa-100">                
                <span class="caixa-50" style="padding-right: 5px;"><strong>Homens:</strong> Mais do que 14 doses de destilado (350 ml), 7 taças de vinho (2 litros) ou 14 latas de cerveja (5 litros)</span>
                <span class="caixa-50" style="padding-left: 5px;"><strong>Mulheres:</strong> Mais do que 7 doses de destilado (175 ml), 3 e 1⁄2 taças de vinho (1 litro) ou 7 latas de cerveja (2,5 litros)</span>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q40_alcohol_Ingested_last_week">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q40_alcohol_Ingested_last_week')" width="15px" height="15px">
              </div>
            </span>
          </app-base>  
          

          <!------------->
          <!--Pergunta9-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">41. </b>IMC para obesidade: ≥27 Kg/m2<br>
                IMC: {{calculaIMC()}}
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: white;" class="w-100 form-control" formControlName="q41_bmi_obesity">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>  
        </span>
        <!-- final das perguntas -->

        <!-- Lado Direito-->  
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color:#90EE90 ;">
          <!--Pontuation-->
          Pontuação: (<b>{{conta_certo()}}</b>) - máximo: ({{max_score}})
        </span>
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: #90EE90 ;">
            <!--Intervenção-->
          Necessita de investigação?                      
          <select style="margin-top:40px; background-color: whitesmoke; width: 100%; transform: rotate(90deg);" class="form-control"  formControlName="need_investigation_cardio">
            <option value="" selected disabled></option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <img [src]="mudou('need_investigation_cardio')" width="15px" height="15px" style="margin-top: 20px;">
        </span>          
        
        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div>  
      </app-base>
    </div>
  </div>
</div>
<!----------->
