<!--Title-->
<h2 class="text-center mt-5"><span class="bg-success rounded-pill rounded-bottom-0 text-white px-5 py-2">Uso inadequado de medicamentos</span></h2>
<!--------->
<!--Content-->

<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <div class="form-group p-3" formGroupName="biologicalAspectsForm">
    <div class="form-group p-3" formGroupName="misuseMedicationsForm">
      <app-base>
        <!-- Lado Esquerdo-->
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: lightgrey;">
          <b>USO INADEQUADO DE MEDICAMENTOS</b>
        </div>


        <!-- Centro -->
        <span class="col-12 col-md-9">

          <app-base>
            <div class="caixa-100">
              <div class="caixa-100">
                <b class="green">42.</b>Nos últimos 5 anos, algum médico ou outro profissional de saúde já disse que o(a)
                senhor(a) tem:<br><br>
              </div>
              <!-- Lista de Doenças -->
              <div *ngFor="let doenca of doencas">
                <app-doencas letra="{{doenca.letra}}" campo="{{doenca.campo}}"   questao="{{doenca.questao}}"  
                  [pageForm]="pageForm" dominio="biologicalAspectsForm"  dimensao="misuseMedicationsForm">
                </app-doencas>
              </div>

              <!--Pergunta1.L-->
              
              <div class="row mtb">
                <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">l.</div>
                <span class="col-12 col-md-2 d-flex align-items-center">Outra?</span>
                <div class="col-12 col-md-8 d-flex justify-content-around flex-wrap">
                  <input style="background-color : whitesmoke" class="w-100 form-control" formControlName="q42_diseases_last_5_years_l" type="text">
                </div>
                <div class="col-12 col-md-1 d-flex justify-content-around flex-wrap">
                  <img style="margin-left: 10px;" [src]="mudou('q42_diseases_last_5_years_l')" width="15px" height="15px">
                </div>
              </div>             
            </div>
          </app-base>

          <!------------->
          <!--Pergunta2-->
          <app-base>
            <div class="caixa-100">
              <div class="caixa-100">
                <b class="green">43.</b>O(A) senhor(a) tem algum dos seguintes problemas de saúde:
              </div>
              <div *ngFor="let doenca of problemas">
                <app-doencas letra="{{doenca.letra}}" campo="{{doenca.campo}}"   questao="{{doenca.questao}}"  
                  [pageForm]="pageForm" dominio="biologicalAspectsForm"  dimensao="misuseMedicationsForm">
                </app-doencas>
              </div>

              <!------------->
              <!--Pergunta2.H-->
              <div class="row mtb">
                <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">h.</div>
                <span class="col-12 col-md-2 d-flex align-items-center">Outra?</span>
                <div class="col-12 col-md-8 d-flex justify-content-around flex-wrap">
                  <input style="background-color : whitesmoke" class="w-100 form-control" formControlName="q43_health_problems_h" id="q43_health_problems_h.invalid && q43_health_problems_h.touched" type="text">
                </div>
                <div class="col-12 col-md-1 d-flex justify-content-around flex-wrap">
                  <img style="margin-left: 10px;" [src]="mudou('q43_health_problems_h')" width="15px" height="15px">
                </div>
              </div>
            </div>
          </app-base>

          <!------------->
          <!--Pergunta3-->
          <app-base>
            <div class="row mtb">
              <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">44. </div>
              <span class="col-12 col-md-7 d-flex align-items-center">Quantidade de diagnósticos (doenças):</span>
              <div class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
                <input style="background-color : whitesmoke" class="w-100 form-control" formControlName="q44_amount_diagnostics" type="number">
              </div>
              <div class="col-12 col-md-1 d-flex justify-content-around flex-wrap">
                <img style="margin-left: 10px;" [src]="mudou('q44_amount_diagnostics')" width="15px" height="15px">
              </div>
            </div>
          </app-base>


          <!------------->
          <!--Pergunta4-->

          <app-base>
            <div class="caixa-100">
              <div class="caixa-90">
                <b class="green">45. </b> Solicitar as bulas dos medicamentos utilizados pelo(a) senhor(a) e fazer 
                registro legível dos respectivos nomes e classes terapêuticas:
              </div>
              <div class="caixa-10"></div>
            </div>
            <div class="caixa-100">
              <div class="caixa-90"> 
                <textarea style="background-color : whitesmoke" class="w-100 form-control" formControlName="q45_medicines"></textarea>
              </div>
              <div class="caixa-10">
                <img style="margin-left: 10px;" [src]="mudou('q45_medicines')" width="15px" height="15px">
              </div>
            </div>            
          </app-base>

          <!------------->
          <!--Pergunta5-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">46.</b>Nos últimos 6 meses, a quantidade de medicamentos que
                o(a) senhor(a) toma aumentou muito?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q46_medicines_increase">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q46_medicines_increase')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta6-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">47.</b>O(A) senhor(a) sabe para que serve todos os seus
                medicamentos?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q47_know_medicines">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q47_know_medicines')" width="15px" height="15px">
              </div>
            </span>
          </app-base>
          
          <!--Pergunta7-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">48.</b>Os medicamentos que o(a) senhor(a) faz uso foram
                prescritos por médicos diferentes?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q48_medications_prescribed">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q48_medications_prescribed')" width="15px" height="15px">
              </div>
            </span>
          </app-base>
          
          <!--Pergunta8-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">49.</b>O(A) senhor(a) toma os medicamentos de acordo com as
                orientações médicas? 
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q49_medicine_medical_advice">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q49_medicine_medical_advice')" width="15px" height="15px">
              </div>
            </span>
          </app-base>          

          <!--Pergunta9-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">50.</b>O(A) senhor(a) alguma vez já deixou de tomar os
                medicamentos?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q50_already_stopped_medicines">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q50_already_stopped_medicines')" width="15px" height="15px">
              </div>
            </span>
          </app-base>
          
          <!--Pergunta10-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">51.</b>O(A) senhor(a) tem o costume de tomar remédios por
                conta própria?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q51_self_medication">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q51_self_medication')" width="15px" height="15px">
              </div>
            </span>
          </app-base>  
          
          <!--Pergunta11-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">52. </b>Verificar na lista de medicamentos potencialmente
                inapropriados para idosos brasileiros (anexada ao PAGe) se
                o(a) idoso(a) toma algum dos medicamentos citados na
                mesma. <strong>Caso sim, pontue ao lado e os deixe destacados na lista</strong>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q52_inappropriate_medication">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q52_inappropriate_medication')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta12-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">53.</b>Cálculo do risco para reações adversas. <strong> Verifique as
                respostas das questões 30 e 38. Circule e cruze as informações na
                tabela abaixo. Em seguida, verifique os registros da questão 31 e
                assinale ao lado se o(a) idoso(a) utiliza uma quantidade de
                medicamentos superior ao valor indicado na tabela</strong> 
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q53_risk_adverse_reaction">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q53_risk_adverse_reaction')" width="15px" height="15px">
              </div>
            </span>
          </app-base> 
          <app-base>
            <table class="mx-auto mt-3" border="1">
              <tbody>
                <tr>
                  <td bgcolor="silver" align="center" rowspan="2">No. Diagnósticos</td>
                  <td bgcolor="silver" colspan="2" align="center"> Uso de medicamento inapropriado </td>
                </tr>
                <tr>
                  <td align="center" bgcolor="silver">sim</td>
                  <td align="center" bgcolor="silver">Não</td>
                </tr>
                <tr><td align="center" bgcolor="silver">1</td>
                  <td align="center">9</td>
                  <td align="center">18</td>
                </tr>
                <tr>
                  <td align="center" bgcolor="silver">2</td>
                  <td align="center">6</td>
                  <td align="center">15</td>
                </tr><tr>
                  <td align="center" bgcolor="silver">3</td>
                  <td align="center">2</td>
                  <td align="center">11</td>
                </tr>
                <tr>
                  <td align="center" bgcolor="silver">4</td>
                  <td align="center">0</td>
                  <td align="center">7</td>
                </tr>
                <tr>
                  <td align="center" bgcolor="silver">5</td>
                  <td align="center">0</td>
                  <td align="center">4</td>
                </tr>
              </tbody>
            </table>
          </app-base>         
        </span>
        <!-- Lado Direito-->  
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color:#90EE90 ;">
          <!--Pontuation-->
          Pontuação: (<b>{{conta_certo()}}</b>) - máximo: ({{max_score}})
        </span>
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: #90EE90 ;">
           <!--Intervenção-->
          Necessita de investigação?                      
          <select style="margin-top:40px; background-color: whitesmoke; width: 100%; transform: rotate(90deg);" class="form-control"  formControlName="need_investigation_misuse">
            <option value="" selected disabled></option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <img [src]="mudou('need_investigation_misuse')" width="15px" height="15px" style="margin-top: 20px;">
        </span>          
        
        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div> 
      </app-base>
    </div>
  </div>
</div>