<!--Title-->
<h2 class="text-center mt-5"><span class="bg-success rounded-pill rounded-bottom-0 text-white px-5 py-2">Uso inadequado de medicamentos</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">42.</div>
        <span class="col">Nos últimos 5 anos, algum médico ou outro profissional de saúde já disse que o(a) senhor(a) tem:</span>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.A-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">A.</div>
        <span class="col-12 col-md-8">Doença do coração (angina, infarto ou ataque cardíaco)?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1A">
            <label class="m-0 ml-1" for="sim1A">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1A">
            <label class="m-0 ml-1" for="nao1A">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.B-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">B.</div>
        <span class="col-12 col-md-8">Pressão alta/ hipertensão?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1B">
            <label class="m-0 ml-1" for="sim1B">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1B">
            <label class="m-0 ml-1" for="nao1B">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.C-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">C.</div>
        <span class="col-12 col-md-8">Derrame/AVC/Isquemia?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1C">
            <label class="m-0 ml-1" for="sim1C">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1C">
            <label class="m-0 ml-1" for="nao1C">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.D-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">D.</div>
        <span class="col-12 col-md-8">Diabetes Mellitus?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1D">
            <label class="m-0 ml-1" for="sim1D">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1D">
            <label class="m-0 ml-1" for="nao1D">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.E-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">E.</div>
        <span class="col-12 col-md-8">Tumor maligno/ Câncer?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1E">
            <label class="m-0 ml-1" for="sim1E">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1E">
            <label class="m-0 ml-1" for="nao1E">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.F-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">F.</div>
        <span class="col-12 col-md-8">Asma/Bronquite/Enfisema?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1F">
            <label class="m-0 ml-1" for="sim1F">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1F">
            <label class="m-0 ml-1" for="nao1F">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.G-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">G.</div>
        <span class="col-12 col-md-8">Osteoporose?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1G">
            <label class="m-0 ml-1" for="sim1G">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1G">
            <label class="m-0 ml-1" for="nao1G">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.H-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">H.</div>
        <span class="col-12 col-md-8">Reumatismo?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1H">
            <label class="m-0 ml-1" for="sim1H">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1H">
            <label class="m-0 ml-1" for="nao1H">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.I-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">I.</div>
        <span class="col-12 col-md-8">Tendinite?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1I">
            <label class="m-0 ml-1" for="sim1I">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1I">
            <label class="m-0 ml-1" for="nao1I">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.J-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">J.</div>
        <span class="col-12 col-md-8">Problemas de circulação?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1J">
            <label class="m-0 ml-1" for="sim1J">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1J">
            <label class="m-0 ml-1" for="nao1J">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1.L-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">L.</div>
        <span class="col-12 col-md-7">Outra?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">42.</div>
        <span class="col">O(A) senhor(a) tem algum dos seguintes problemas de saúde:</span>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.A-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">A.</div>
        <span class="col-12 col-md-8">Dor de cabeça?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2A">
            <label class="m-0 ml-1" for="sim2A">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2A">
            <label class="m-0 ml-1" for="nao2A">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.B-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">B.</div>
        <span class="col-12 col-md-8">Dor nas costas ou em outra parte do corpo?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2B">
            <label class="m-0 ml-1" for="sim2B">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2B">
            <label class="m-0 ml-1" for="nao2B">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.C-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">C.</div>
        <span class="col-12 col-md-8">Alergia?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2C">
            <label class="m-0 ml-1" for="sim2C">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2C">
            <label class="m-0 ml-1" for="nao2C">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.D-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">D.</div>
        <span class="col-12 col-md-8">Problema emocional?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2D">
            <label class="m-0 ml-1" for="sim2D">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2D">
            <label class="m-0 ml-1" for="nao2D">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.E-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">E.</div>
        <span class="col-12 col-md-8">Tontura?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2E">
            <label class="m-0 ml-1" for="sim2E">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2E">
            <label class="m-0 ml-1" for="nao2E">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.F-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">F.</div>
        <span class="col-12 col-md-8">Dificuldades para dormir?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2F">
            <label class="m-0 ml-1" for="sim2F">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2F">
            <label class="m-0 ml-1" for="nao2F">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.G-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">G.</div>
        <span class="col-12 col-md-8">ncontinência urinária/perda de urina:?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2G">
            <label class="m-0 ml-1" for="sim2G">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2G">
            <label class="m-0 ml-1" for="nao2G">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2.H-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-2 d-flex justify-content-center align-items-center text-success font-weight-bold">H.</div>
        <span class="col-12 col-md-7">Outra?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">44.</div>
        <span class="col-12 col-md-8">Quantidade de diagnósticos (doenças):</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="number">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">45.</div>
        <span class="col-12 col-md-8">[Solicitar as bulas dos medicamentos utilizados pelo(a) senhor(a) e fazer registro legível dos respectivos nomes e classes terapêuticas]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">46.</div>
        <span class="col-12 col-md-9">Nos últimos 6 meses, a quantidade de medicamentos que o(a) senhor(a) toma aumentou muito?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim4">
            <label class="m-0 ml-1" for="sim4">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao4">
            <label class="m-0 ml-1" for="nao4">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">47.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) sabe para que serve todos os seus medicamentos?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim5">
            <label class="m-0 ml-1" for="sim5">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao5">
            <label class="m-0 ml-1" for="nao5">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">48.</div>
        <span class="col-12 col-md-9">Os medicamentos que o(a) senhor(a) faz uso foram prescritos por médicos diferentes?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim6">
            <label class="m-0 ml-1" for="sim6">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao6">
            <label class="m-0 ml-1" for="nao6">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">49.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) toma os medicamentos de acordo com as orientações médicas?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim7">
            <label class="m-0 ml-1" for="sim7">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao7">
            <label class="m-0 ml-1" for="nao7">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">50.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) alguma vez já deixou de tomar os medicamentos?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim8">
            <label class="m-0 ml-1" for="sim8">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao8">
            <label class="m-0 ml-1" for="nao8">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">51.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) tem o costume de tomar remédios por conta própria?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim9">
            <label class="m-0 ml-1" for="sim9">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao9">
            <label class="m-0 ml-1" for="nao9">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">52.</div>
        <span class="col-12 col-md-9">Verificar na lista de medicamentos potencialmente inapropriados para idosos brasileiros (anexada ao PAGe) se o(a) idoso(a) toma algum dos medicamentos citados na mesma. [Caso sim, pontue ao lado e os deixe destacados na lista]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim10">
            <label class="m-0 ml-1" for="sim10">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao10">
            <label class="m-0 ml-1" for="nao10">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">53.</div>
        <span class="col-12 col-md-9">Cálculo do risco para reações adversas. [Verifique as respostas das questões 30 e 38. Circule e cruze as informações na tabela abaixo. Em seguida, verifique os registros da questão 31 e assinale ao lado se o(a) idoso(a) utiliza uma quantidade de medicamentos superior ao valor indicado na tabela] :</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim11">
            <label class="m-0 ml-1" for="sim11">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao11">
            <label class="m-0 ml-1" for="nao11">Não</label>
          </div>
        </div>
      </div>
      <table class="mx-auto mt-3" border="1">
        <tbody>
          <tr>
            <td bgcolor="silver" align="center" rowspan="2">No. Diagnósticos</td>
            <td bgcolor="silver" colspan="2" align="center"> Uso de medicamento inapropriado </td>
          </tr>
          <tr>
            <td align="center" bgcolor="silver">sim</td>
            <td align="center" bgcolor="silver">Não</td>
          </tr>
          <tr><td align="center" bgcolor="silver">1</td>
            <td align="center">9</td>
            <td align="center">18</td>
          </tr>
          <tr>
            <td align="center" bgcolor="silver">2</td>
            <td align="center">6</td>
            <td align="center">15</td>
          </tr><tr>
            <td align="center" bgcolor="silver">3</td>
            <td align="center">2</td>
            <td align="center">11</td>
          </tr>
          <tr>
            <td align="center" bgcolor="silver">4</td>
            <td align="center">0</td>
            <td align="center">7</td>
          </tr>
          <tr>
            <td align="center" bgcolor="silver">5</td>
            <td align="center">0</td>
            <td align="center">4</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-success font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">9 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
