<!--Title-->
<h2 class="text-center mt-5"><span class="bg-success rounded-pill rounded-bottom-0 text-white px-5 py-2">Incapacidade funcional</span></h2>
<!--------->
<!--Content-->

<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <div class="form-group p-3" formGroupName="biologicalAspectsForm">
    <div class="form-group p-3" formGroupName="functionalDisabilityForm">
      <app-base>
        <!-- Lado Esquerdo-->
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: lightgrey;">
          <b>INCAPACIDADE FUNCIONAL</b>
        </div>

        <!-- Centro -->
        <span class="col-12 col-md-9">
          <!--Pergunta1-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">20.</b>O(A) senhor(a) necessita
                de ajuda para fazer compras??
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q20_to_shop">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q20_to_shop')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!------------->
          <!--Pergunta2-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">21.</b>O(A) senhor(a) necessita
                de ajuda para usar meios de transporte?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q21_use_transport">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q21_use_transport')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!------------->
          <!--Pergunta3-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">22.</b>O(A) senhor(a) necessita
                de ajuda para preparar a própria comida?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q22_to_cook">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q22_to_cook')" width="15px" height="15px">
              </div>
            </span>
          </app-base>


          <!------------->
          <!--Pergunta4-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">23.</b>O(A) senhor(a) necessita
                de ajuda para usar o telefone?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q23UseTelephone">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q23UseTelephone')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!------------->
          <!--Pergunta5-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">24.</b>O(A) senhor(a) necessita
                de ajuda para vestir-se?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q24_dress_up">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q24_dress_up')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta6-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="green">25. </b>O(A) senhor(a) necessita
                de ajuda para tomar banho?
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q25TakeShower">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q25TakeShower')" width="15px" height="15px">
              </div>
            </span>
          </app-base>



        </span>
        <!-- Lado Direito-->  
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color:#90EE90 ;">
          <!--Pontuation-->
          Pontuação: (<b>{{conta_certo()}}</b>) - máximo: ({{max_score}})
        </span>
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: #90EE90 ;">
           <!--Intervenção-->
          Necessita de investigação?                      
          <select style="margin-top:40px; background-color: whitesmoke; width: 100%; transform: rotate(90deg);" class="form-control"  formControlName="need_investigation_functional">
            <option value="" selected disabled></option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <img [src]="mudou('need_investigation_functional')" width="15px" height="15px" style="margin-top: 20px;">
        </span>          
        
        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div> 
      </app-base>
    </div>
  </div>
</div>