<!--Title-->
<h2 class="text-center mt-5"><span class="bg-warning rounded-pill rounded-bottom-0 text-white px-5 py-2">Problemas Ambientais</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="environmentalProblemsForm">
  <!--Perguntas-->
  <div class="p-3">
    <!--Ambiente interno-->
    <h3 class="text-warning text-center font-weight-bold">Ambiente interno</h3>
    <!-------------------->
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">63.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a):[Ambiente interno] Os móveis são estáveis?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q63_estable_furniture" [class.is-invalid]="q63_estable_furniture.invalid && q63_estable_furniture.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">64.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Há objetos e/ou tapetes soltos nas áreas de circulação?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q64_loose_objects_carpets" [class.is-invalid]="q64_loose_objects_carpets.invalid && q64_loose_objects_carpets.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">65.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): O piso é escorregadio (ex. encerado, molhado)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q65_slippery_floor" [class.is-invalid]="q65_slippery_floor.invalid && q65_slippery_floor.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">66.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): As escadas possuem corrimão em ambos os lados?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q66_handrail_on_stairs" [class.is-invalid]="q66_handrail_on_stairs.invalid && q66_handrail_on_stairs.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">67.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): As escadas/ degraus são iluminados adequadamente:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q67_lighted_stairs" [class.is-invalid]="q67_lighted_stairs.invalid && q67_lighted_stairs.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">68.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Os degraus são adequados (tamanho, rebordos, largura e padronagem, etc)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q68_suitable_stairs_steps" [class.is-invalid]="q68_suitable_stairs_steps.invalid && q68_suitable_stairs_steps.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">69.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Há tapetes antiderrapantes (fora e dentro box)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q69_non_slippery_carpet" [class.is-invalid]="q69_non_slippery_carpet.invalid && q69_non_slippery_carpet.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->

    <!--Comportamento de Risco-->
    <h3 class="text-warning text-center font-weight-bold mt-3">Comportamento de risco</h3>
    <!-------------------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">70.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Subir em banquetas ou cadeiras para alcançar objetos altos?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q70_get_on_stool" [class.is-invalid]="q70_get_on_stool.invalid && q70_get_on_stool.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">71.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Deixa as luzes apagadas quando se levanta à noite:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q71_turn_lights_off" [class.is-invalid]="q71_turn_lights_off.invalid && q71_turn_lights_off.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">72.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Utiliza calçados seguros e adequados (solado antiderrapante, bem ajustados e firmes no pé, sem saltos, etc)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q72_safe_shoes" [class.is-invalid]="q72_safe_shoes.invalid && q72_safe_shoes.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->

    <!--Ambiente externo-->
    <h3 class="text-warning text-center font-weight-bold mt-3">Ambiente externo</h3>
    <!-------------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">73.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com As calçadas do seu bairro são bem cuidadas (pavimentadas, lisas e sem buracos)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q73_manicure_sidewalks" [class.is-invalid]="q73_manicure_sidewalks.invalid && q73_manicure_sidewalks.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">74.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso ao transporte público no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q74_public_transport_access" [class.is-invalid]="q74_public_transport_access.invalid && q74_public_transport_access.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta13-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">75.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso ao comércio no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q75_commerce_access" [class.is-invalid]="q75_commerce_access.invalid && q75_commerce_access.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta14-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">76.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com a facilidade e prazer em andar (a pé/ com cadeira de rodas/bengala/andador) no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q76_ease_plasewalking" [class.is-invalid]="q76_ease_plasewalking.invalid && q76_ease_plasewalking.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta15-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">77.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso à diversão no seu bairro (restaurantes, cinema, clubes, etc.)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q77_fun_access" [class.is-invalid]="q77_fun_access.invalid && q77_fun_access.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta16-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">78.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com a segurança quanto à ameaça da criminalidade no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q78_safety" [class.is-invalid]="q78_safety.invalid && q78_safety.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-warning font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">6 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex flex-wrap w-25 mx-auto justify-content-center align-items-center p-3">
    <label class="text-center mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
    <select class="w-100 form-control" id="depression-intervention" formControlName="need_investigation_env" [class.is-invalid]="need_investigation_env.invalid && need_investigation_env.touched">
      <option value="" selected disabled>Selecione</option>
      <option value="S">Sim</option>
      <option value="N">Não</option>
    </select>
  </div>
  <!--------------->
  <!--Continue-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <button class="btn btn-warning text-white" (click)="submit()">Salvar</button>
  </div>
  <!------------>
</div>
<!----------->
