<!--Title-->
<h2 class="text-center mt-5"><span class="bg-warning rounded-pill rounded-bottom-0 text-white px-5 py-2">Problemas Ambientais</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Ambiente interno-->
    <h3 class="text-warning text-center font-weight-bold">Ambiente interno</h3>
    <!-------------------->
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">63.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a):[Ambiente interno] Os móveis são estáveis?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1">
            <label class="m-0 ml-1" for="sim1">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1">
            <label class="m-0 ml-1" for="nao1">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">64.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Há objetos e/ou tapetes soltos nas áreas de circulação?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2">
            <label class="m-0 ml-1" for="sim2">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2">
            <label class="m-0 ml-1" for="nao2">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">65.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): O piso é escorregadio (ex. encerado, molhado)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim3">
            <label class="m-0 ml-1" for="sim3">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao3">
            <label class="m-0 ml-1" for="nao3">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">66.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): As escadas possuem corrimão em ambos os lados?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim4">
            <label class="m-0 ml-1" for="sim4">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao4">
            <label class="m-0 ml-1" for="nao4">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">67.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): As escadas/ degraus são iluminados adequadamente:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim5">
            <label class="m-0 ml-1" for="sim5">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao5">
            <label class="m-0 ml-1" for="nao5">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">68.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Os degraus são adequados (tamanho, rebordos, largura e padronagem, etc)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim6">
            <label class="m-0 ml-1" for="sim6">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao6">
            <label class="m-0 ml-1" for="nao6">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">69.</div>
        <span class="col-12 col-md-9">Na casa do(a) senhor(a): Há tapetes antiderrapantes (fora e dentro box)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim7">
            <label class="m-0 ml-1" for="sim7">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao7">
            <label class="m-0 ml-1" for="nao7">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->

    <!--Comportamento de Risco-->
    <h3 class="text-warning text-center font-weight-bold mt-3">Comportamento de risco</h3>
    <!-------------------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">70.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Subir em banquetas ou cadeiras para alcançar objetos altos?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim8">
            <label class="m-0 ml-1" for="sim8">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao8">
            <label class="m-0 ml-1" for="nao8">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">71.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Deixa as luzes apagadas quando se levanta à noite:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim9">
            <label class="m-0 ml-1" for="sim9">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao9">
            <label class="m-0 ml-1" for="nao9">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">72.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) costuma: Utiliza calçados seguros e adequados (solado antiderrapante, bem ajustados e firmes no pé, sem saltos, etc)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim10">
            <label class="m-0 ml-1" for="sim10">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao10">
            <label class="m-0 ml-1" for="nao10">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->

    <!--Ambiente externo-->
    <h3 class="text-warning text-center font-weight-bold mt-3">Ambiente externo</h3>
    <!-------------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">73.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com As calçadas do seu bairro são bem cuidadas (pavimentadas, lisas e sem buracos)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim11">
            <label class="m-0 ml-1" for="sim11">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao11">
            <label class="m-0 ml-1" for="nao11">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">74.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso ao transporte público no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim12">
            <label class="m-0 ml-1" for="sim12">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao12">
            <label class="m-0 ml-1" for="nao12">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta13-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">75.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso ao comércio no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim13">
            <label class="m-0 ml-1" for="sim13">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao13">
            <label class="m-0 ml-1" for="nao13">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta14-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">76.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com a facilidade e prazer em andar (a pé/ com cadeira de rodas/bengala/andador) no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim14">
            <label class="m-0 ml-1" for="sim14">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao14">
            <label class="m-0 ml-1" for="nao14">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta15-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">77.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com o acesso à diversão no seu bairro (restaurantes, cinema, clubes, etc.)?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim15">
            <label class="m-0 ml-1" for="sim15">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao15">
            <label class="m-0 ml-1" for="nao15">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta16-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-warning font-weight-bold">78.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) está satisfeito com a segurança quanto à ameaça da criminalidade no seu bairro?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim16">
            <label class="m-0 ml-1" for="sim16">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao16">
            <label class="m-0 ml-1" for="nao16">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-warning font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">6 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
