<!--Title-->
<h2 class="text-center mt-5"><span class="mage rounded-pill rounded-bottom-0 text-white px-5 py-2">Quedas</span></h2>

<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <div class="form-group p-3" formGroupName="multidimensionalAspectsForm">
    <div class="form-group p-3" formGroupName="fallsForm">
      <app-base>
        <!-- Lado Esquerdo-->
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: lightgrey;">
          <b>QUEDAS</b>
        </div>

        <!-- Centro -->
        <span class="col-12 col-md-9">

          <!------------->
          <!--Pergunta1-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">87. </b> O(A) senhor(a) sofreu alguma queda nos últimos 12 meses?
              </div>
              <div class="caixa-100">
                <div class="caixa-60">
                  Quantas quedas nos últimos 12 meses? 
                </div>
                <div class="caixa-30">
                  <input style="background-color: whitesmoke;" class="w-100 form-control" type="number" formControlName="q87_amount_falls_last_year">
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q87_amount_falls_last_year')" width="15px" height="15px">
                </div>
                <div class="caixa-100">
                  <b>[Se a resposta for não, será pontuado não nas questões 87 e 88, a questão 89 receberá nda, vá direto para a questão 90]</b> 
                </div>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q87_falls_last_year">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q87_falls_last_year')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta2-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">88. </b>O(A) senhor(a) sofreu alguma fratura decorrente destas quedas?    
                Se sim, quais?<br>
                Caso não tenha ocorrido nenhuma fratura coloque apenas: <i>nda</i>
              </div>
              <div class="caixa-100">
                <div class="caixa-90">
                  <textarea style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q88_fractures_due_to_falls_list">
                  </textarea> 
                </div>
                <div class="caixa-10">
                  <img style="margin-left: 10px;" [src]="mudou('q88_fractures_due_to_falls_list')" width="15px" height="15px">
                </div>
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: white;" class="w-100 form-control" formControlName="q88_fractures_due_to_falls">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q88_fractures_due_to_falls')" width="15px" height="15px">
              </div>
            </span>
          </app-base> 

          <!--Pergunta3-->
          <app-base>
            <span class="col-12 col-md-12">
              <div class="caixa-100">
                <b class="fuch">89. </b> O que o(a) senhor(a) estava fazendo quando sofreu essa(s) queda(s)? 
                [Investigar atividade realizada, local, horário do dia, tipo de calçado, riscos ambientais etc]:
              </div>
              <div class="caixa-100">
                <div class="caixa-95">
                  <textarea style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q89_fractures_list">
                  </textarea>
                </div>
                <div class="caixa-4">
                  <img style="margin-left: 10px;" [src]="mudou('q89_fractures_list')" width="15px" height="15px">
                </div>
              </div>
            </span>            
          </app-base>

          
          <!--Pergunta4-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">90. </b> [Avaliação de força de MMII] – Peça ao(a) idoso(a) para 
                levantar-se de uma cadeira sem ajuda. Assinale ao lado se o(a) idoso(a) conseguiu 
                realizar a tarefa.
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q90_strength_mmii">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q90_strength_mmii')" width="15px" height="15px">
              </div>
            </span>
          </app-base>


          <!------------->
          <!--Pergunta5-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">91. </b> [Avaliação de equilíbrio] Peça ao(a) idoso(a) para permanecer em pé em uma única perna, 
                sem apoio dos membros superiores, 
                durante 5 segundos. Assinale ao lado se o(a) idoso(a) consegue realizar a tarefa.
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q91_equilibrium">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q91_equilibrium')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <app-base>
            <div class="caixa-100 centro-multi">
              Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza
            </div>
          </app-base>

          <!--Pergunta6-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">92. </b> Idade > 75 anos
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled style="background-color: white;" class="w-100 form-control" formControlName="q92_older_than75">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>

          <!--Pergunta7-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">93. </b> Sexo feminino
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled style="background-color: white;" class="w-100 form-control" formControlName="q93_female">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>

          <!--Pergunta8-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">94. </b> Alterações cognitivas [Pontuação negativa em Fluência Verbal em Funções Cognitivas]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q94_cognitive_alterations">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q94_cognitive_alterations')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta9-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">95. </b> Comprometimento AVDs [Pontuação > 4 em Capacidade Funcional]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled  style="background-color: white;" class="w-100 form-control" formControlName="q95_av_ds_commitment">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>          

          <!--Pergunta10-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">96. </b> Déficit Visual [Ver questão 15]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled  style="background-color: white;" class="w-100 form-control" formControlName="q96_visual_deficit">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base> 

          <!--Pergunta11-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">97. </b> Riscos domésticos [Ver questões 63 a 69]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled  style="background-color: white;" class="w-100 form-control" formControlName="q97_domestic_risks">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base> 
          
          <!--Pergunta12-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">98. </b> Riscos comportamentais [Ver questões 70 a 72]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled style="background-color: white;" class="w-100 form-control" formControlName="q98_behavior_risk">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>          

          <!--Pergunta13-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">99. </b> Inatividade [Ver questão 38]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select disabled style="background-color: white;" class="w-100 form-control" formControlName="q99_inactivity">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>    
          
          <!--Pergunta14-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">100.</b> Acidente Vascular Encefálico prévio [Ver questão 42]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select  disabled style="background-color: white;" class="w-100 form-control" formControlName="q100_prior_ave">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                
              </div>
            </span>
          </app-base>
          
          <!--Pergunta15-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">101. </b> Faz uso de medicações psicotrópicas, em especial benzodiazepínicos, 
                OU uso contínuo de 5 ou mais medicações (polifarmácia) [Ver questão 45]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q101_psychotropic_medications_use">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q101_psychotropic_medications_use')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!--Pergunta16-->          
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="fuch">102. </b> Apresenta alguma das doenças a seguir: hipertensão tontura/ vertigem, Parkinson, 
                amputação de membros inferiores, convulsões, artrite, osteoporose, 
                incontinência, diabetes, neuropatia, hipotensão postural [Ver questões 42 e 43]:
              </div>
            </span>
            <span class="col-12 col-md-3 d-flex justify-content-around flex-wrap">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q102_has_diseases">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                <img style="margin-left: 10px;" [src]="mudou('q102_has_diseases')" width="15px" height="15px">
              </div>
            </span>
          </app-base>          
        </span>
        <!-- Lado Direito-->  
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: orchid ;">
          <!--Pontuation-->
          Pontuação: (<b>{{conta_certo()}}</b>) - máximo: ({{max_score}})
        </span>
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: orchid ;">
           <!--Intervenção-->
          Necessita de investigação?                      
          <select style="margin-top:40px; background-color: whitesmoke; width: 100%; transform: rotate(90deg);" class="form-control"  formControlName="need_investigation_falls">
            <option value="" selected disabled></option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <img [src]="mudou('need_investigation_falls')" width="15px" height="15px" style="margin-top: 20px;">
        </span>          
        
        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div> 
        
      </app-base>
    </div>
  </div>
</div>
