<!--Title-->
<h2 class="text-center mt-5"><span class="bg-danger rounded-pill rounded-bottom-0 text-white px-5 py-2">Quedas</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">87.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) sofreu alguma queda nos últimos 12 meses? </span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1">
            <label class="m-0 ml-1" for="sim1">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1">
            <label class="m-0 ml-1" for="nao1">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1A-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold"></div>
        <span class="col-12 col-md-8">Se sofreu quedas, quantas? [Se não, pontue também a resposta “não” na próxima questão e vá para a questão 90] [Se não, pule as próximas duas questões].</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">88.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) sofreu alguma fratura decorrente destas quedas?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2">
            <label class="m-0 ml-1" for="sim2">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2">
            <label class="m-0 ml-1" for="nao2">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2A-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold"></div>
        <span class="col-12 col-md-8">Se sim, quais?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">89.</div>
        <span class="col-12 col-md-8">O que o(a) senhor(a) estava fazendo quando sofreu essa(s) queda(s)? [Investigar atividade realizada, local, horário do dia, tipo de calçado, riscos ambientais etc]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">90.</div>
        <span class="col-12 col-md-9">[Avaliação de força de MMII] – Peça ao(a) idoso(a) para levantar-se de uma cadeira sem ajuda. Assinale ao lado se o(a) idoso(a) conseguiu realizar a tarefa.</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim4">
            <label class="m-0 ml-1" for="sim4">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao4">
            <label class="m-0 ml-1" for="nao4">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">91.</div>
        <span class="col-12 col-md-9">[Avaliação de equilíbrio] Peça ao(a) idoso(a) para permanecer em pé em uma única perna, sem apoio dos membros superiores, durante 5 segundos. Assinale ao lado se o(a) idoso(a) consegue realizar a tarefa.</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim5">
            <label class="m-0 ml-1" for="sim5">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao5">
            <label class="m-0 ml-1" for="nao5">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->

    <!--Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza-->
    <h3 class="text-danger text-center font-weight-bold mt-3">Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza</h3>
    <!-------------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">92.</div>
        <span class="col-12 col-md-9">Idade >75 anos [Ver em dados de identificação]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim6">
            <label class="m-0 ml-1" for="sim6">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao6">
            <label class="m-0 ml-1" for="nao6">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">93.</div>
        <span class="col-12 col-md-9">Gênero feminino [Ver em dados de identificação]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim7">
            <label class="m-0 ml-1" for="sim7">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao7">
            <label class="m-0 ml-1" for="nao7">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">94.</div>
        <span class="col-12 col-md-9">Alterações cognitivas [Pontuação negativa em Fluência Verbal em Funções Cognitivas]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim8">
            <label class="m-0 ml-1" for="sim8">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao8">
            <label class="m-0 ml-1" for="nao8">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">95.</div>
        <span class="col-12 col-md-9">Comprometimento AVDs [Pontuação > 4 em Capacidade Funcional]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim9">
            <label class="m-0 ml-1" for="sim9">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao9">
            <label class="m-0 ml-1" for="nao9">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">96.</div>
        <span class="col-12 col-md-9">Déficit Visual [Ver questão 15]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim10">
            <label class="m-0 ml-1" for="sim10">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao10">
            <label class="m-0 ml-1" for="nao10">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">97.</div>
        <span class="col-12 col-md-9">Riscos domésticos [Ver questões 63 a 69]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim11">
            <label class="m-0 ml-1" for="sim11">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao11">
            <label class="m-0 ml-1" for="nao11">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">98.</div>
        <span class="col-12 col-md-9">Riscos comportamentais [Ver questões 70 a 72]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim12">
            <label class="m-0 ml-1" for="sim12">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao12">
            <label class="m-0 ml-1" for="nao12">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta13-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">99.</div>
        <span class="col-12 col-md-9">Inatividade [Ver questão 38]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim13">
            <label class="m-0 ml-1" for="sim13">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao13">
            <label class="m-0 ml-1" for="nao13">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta14-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">100.</div>
        <span class="col-12 col-md-9">Acidente Vascular Encefálico prévio [Ver questão 42]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim14">
            <label class="m-0 ml-1" for="sim14">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao14">
            <label class="m-0 ml-1" for="nao14">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta15-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">101.</div>
        <span class="col-12 col-md-9">Faz uso de medicações psicotrópicas, em especial benzodiazepínicos, OU uso contínuo de 5 ou mais medicações (polifarmácia) [Ver questão 45]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim15">
            <label class="m-0 ml-1" for="sim15">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao15">
            <label class="m-0 ml-1" for="nao15">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta16-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">102.</div>
        <span class="col-12 col-md-9">Apresenta alguma das doenças a seguir: hipertensão tontura/ vertigem, Parkinson, amputação de membros inferiores, convulsões, artrite, osteoporose, incontinência, diabetes, neuropatia, hipotensão postural [Ver questões 42 e 43]:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim16">
            <label class="m-0 ml-1" for="sim16">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao16">
            <label class="m-0 ml-1" for="nao16">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-danger font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">8 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
