<!--Title-->
<h2 class="text-center mt-5"><span class="bg-danger rounded-pill rounded-bottom-0 text-white px-5 py-2">Quedas</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="fallsForm">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">87.</div>
        <span class="col-12 col-md-8">O(A) senhor(a) sofreu alguma queda nos últimos 12 meses? </span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q87_falls_last_year" [class.is-invalid]="q87_falls_last_year.invalid && q87_falls_last_year.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1A-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold"></div>
        <span class="col-12 col-md-8">Se sofreu quedas, quantas? [Se não, pontue também a resposta “não” na próxima questão e vá para a questão 90] [Se não, pule as próximas duas questões].</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100 form-control" formControlName="q87_amount_falls_last_year" [class.is-invalid]="q87_amount_falls_last_year.invalid && q87_amount_falls_last_year.touched" type="number">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">88.</div>
        <span class="col-12 col-md-8">O(A) senhor(a) sofreu alguma fratura decorrente destas quedas?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q88_fractures_due_to_falls" [class.is-invalid]="q88_fractures_due_to_falls.invalid && q88_fractures_due_to_falls.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2A-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold"></div>
        <span class="col-12 col-md-8">Se sim, quais?</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100 form-control" formControlName="q88_fractures_due_to_falls_list" [class.is-invalid]="q88_fractures_due_to_falls_list.invalid && q88_fractures_due_to_falls_list.touched"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">89.</div>
        <span class="col-12 col-md-8">O que o(a) senhor(a) estava fazendo quando sofreu essa(s) queda(s)? [Investigar atividade realizada, local, horário do dia, tipo de calçado, riscos ambientais etc]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100 form-control" formControlName="q89_fractures_list" [class.is-invalid]="q89_fractures_list.invalid && q89_fractures_list.touched"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">90.</div>
        <span class="col-12 col-md-8">[Avaliação de força de MMII] – Peça ao(a) idoso(a) para levantar-se de uma cadeira sem ajuda. Assinale ao lado se o(a) idoso(a) conseguiu realizar a tarefa.</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q90_strength_mmii" [class.is-invalid]="q90_strength_mmii.invalid && q90_strength_mmii.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">91.</div>
        <span class="col-12 col-md-8">[Avaliação de equilíbrio] Peça ao(a) idoso(a) para permanecer em pé em uma única perna, sem apoio dos membros superiores, durante 5 segundos. Assinale ao lado se o(a) idoso(a) consegue realizar a tarefa.</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q91_equilibrium" [class.is-invalid]="q91_equilibrium.invalid && q91_equilibrium.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->

    <!--Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza-->
    <h3 class="text-danger text-center font-weight-bold mt-3">Baseado nas respostas de itens anteriores, identifique se o idoso apresenta/utiliza</h3>
    <!-------------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">92.</div>
        <span class="col-12 col-md-8">Idade >75 anos [Ver em dados de identificação]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q92_older_than75" [class.is-invalid]="q92_older_than75.invalid && q92_older_than75.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">93.</div>
        <span class="col-12 col-md-8">Gênero feminino [Ver em dados de identificação]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q93_female" [class.is-invalid]="q93_female.invalid && q93_female.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">94.</div>
        <span class="col-12 col-md-8">Alterações cognitivas [Pontuação negativa em Fluência Verbal em Funções Cognitivas]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q94_cognitive_alterations" [class.is-invalid]="q94_cognitive_alterations.invalid && q94_cognitive_alterations.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">95.</div>
        <span class="col-12 col-md-8">Comprometimento AVDs [Pontuação > 4 em Capacidade Funcional]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q95_av_ds_commitment" [class.is-invalid]="q95_av_ds_commitment.invalid && q95_av_ds_commitment.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">96.</div>
        <span class="col-12 col-md-8">Déficit Visual [Ver questão 15]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q96_visual_deficit" [class.is-invalid]="q96_visual_deficit.invalid && q96_visual_deficit.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">97.</div>
        <span class="col-12 col-md-8">Riscos domésticos [Ver questões 63 a 69]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q97_domestic_risks" [class.is-invalid]="q97_domestic_risks.invalid && q97_domestic_risks.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">98.</div>
        <span class="col-12 col-md-8">Riscos comportamentais [Ver questões 70 a 72]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q98_behavior_risk" [class.is-invalid]="q98_behavior_risk.invalid && q98_behavior_risk.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta13-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">99.</div>
        <span class="col-12 col-md-8">Inatividade [Ver questão 38]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q99_inactivity" [class.is-invalid]="q99_inactivity.invalid && q99_inactivity.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta14-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">100.</div>
        <span class="col-12 col-md-8">Acidente Vascular Encefálico prévio [Ver questão 42]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q100_prior_ave" [class.is-invalid]="q100_prior_ave.invalid && q100_prior_ave.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta15-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">101.</div>
        <span class="col-12 col-md-8">Faz uso de medicações psicotrópicas, em especial benzodiazepínicos, OU uso contínuo de 5 ou mais medicações (polifarmácia) [Ver questão 45]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q101_psychotropic_medications_use" [class.is-invalid]="q101_psychotropic_medications_use.invalid && q101_psychotropic_medications_use.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta16-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-danger font-weight-bold">102.</div>
        <span class="col-12 col-md-8">Apresenta alguma das doenças a seguir: hipertensão tontura/ vertigem, Parkinson, amputação de membros inferiores, convulsões, artrite, osteoporose, incontinência, diabetes, neuropatia, hipotensão postural [Ver questões 42 e 43]:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100 form-control" formControlName="q102_has_diseases" [class.is-invalid]="q102_has_diseases.invalid && q102_has_diseases.touched">
            <option value="" selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-danger font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">8 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex flex-wrap w-25 mx-auto justify-content-center align-items-center p-3">
    <label class="text-center mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
    <select class="w-100 form-control" id="depression-intervention" formControlName="need_investigation_falls" [class.is-invalid]="need_investigation_falls.invalid && need_investigation_falls.touched">
      <option value="" selected disabled>Selecione</option>
      <option value="S">Sim</option>
      <option value="N">Não</option>
    </select>
  </div>
  <!--------------->
  <!--Continue-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <button class="btn btn-danger text-white" (click)="submit()">Salvar</button>
  </div>
  <!------------>
</div>
<!----------->
