<!--Title-->
<h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2">Atitude negativa em relação ao processo de envelhecimento</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">7.</div>
        <span class="col-12 col-md-8">Que idade o(a) senhor(a) sente ter?:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta1 - Por quê-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">7.</div>
        <span class="col-12 col-md-8">Por quê?:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">2.</div>
        <span class="col-12 col-md-9">O(a) idoso(a) sente-se mais velho do que realmente é?:</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2">
            <label class="m-0 ml-1" for="sim2">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2">
            <label class="m-0 ml-1" for="nao2">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">7.</div>
        <span class="col-12 col-md-8">Aspectos Positivo do Envelhecimento:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">7.</div>
        <span class="col-12 col-md-8">Aspectos Negativos do Envelhecimento:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">2.</div>
        <span class="col-12 col-md-9">É perceptível uma visão mais negativa da velhice?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim5">
            <label class="m-0 ml-1" for="sim5">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao5">
            <label class="m-0 ml-1" for="nao5">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-primary font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">6 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
