<!--Title-->
<h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2">Atitude negativa em relação ao processo de envelhecimento</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">7.</div>
        <div class="col-12 col-md-9">
          <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
            <span style="white-space: nowrap">Que idade o(a) senhor(a) sente ter?</span>
            <input type="number" class="mx-0 ml-md-3 px-2 w-100">
          </div>
          <div class="d-flex align-items-center flex-wrap flex-md-nowrap mt-2">
            <span style="white-space: nowrap">Por quê?</span>
            <textarea class="mx-0 ml-md-3 px-2 w-100"></textarea>
          </div>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1">
            <label class="m-0 ml-1" for="sim1">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1">
            <label class="m-0 ml-1" for="nao1">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-primary font-weight-bold">8.</div>
        <div class="col-12 col-md-9">
          <span>Existem pontos positivos e negativos presentes na velhice? Quais?</span>
          <div class="container mt-2">
            <div class="row align-items-center">
              <label class="col-3 mb-0 mr-2" for="positives">Aspectos positivos:</label>
              <select class="col" id="positives" multiple>
                <option value="teste">teste 1</option>
              </select>
            </div>
            <div class="row align-items-center">
                <label class="col-3 mb-0 mr-2" for="negatives">Aspectos negativos:</label>
                <select class="col" id="negatives" multiple>
                  <option value="teste">teste 1</option>
                </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2">
            <label class="m-0 ml-1" for="sim2">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2">
            <label class="m-0 ml-1" for="nao2">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-primary font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">6 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
