<main class="container-flex">
  <!--Adicionar Participante-->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addParticipant">Adicionar participante</button>
  </div>
  <!-------------------------->
  <!--Menu Adicionar Participante-->
  <form class="d-flex flex-wrap w-50 mx-auto bg-white shadow px-4 py-4 mt-5 collapse" id="addParticipant" [formGroup]="addParticipantForm">
    <h1 class="font-weight-bold mb-4 text-primary w-100">Dados do novo participante</h1>
    <!--Email-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Email:
      </div>
      <div class="caixa-70">
        <input class="w-100 form-control fu" type="email" id="email" formControlName="p00_email">
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p00_email')" width="15px" height="15px">
      </div>
    </div>
    <!--------->
    <!--Name-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Nome:
      </div>
      <div class="caixa-70">
        <input class="w-100 form-control fu" type="text" id="email" formControlName="p01_name">
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p01_name')" width="15px" height="15px">
      </div>
    </div>
    <!-------->
    <!--Address-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Endereço:
      </div>
      <div class="caixa-70">
        <input class="w-100 form-control fu" type="text" id="email" formControlName="p02_address">
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p02_address')" width="15px" height="15px">
      </div>
    </div>
    <!----------->
    <!--Communication-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Telefones:
      </div>
      <div class="caixa-70">
        <input class="w-100 form-control fu" type="text" id="email" formControlName="p03_communication">
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p03_communication')" width="15px" height="15px">
      </div>
    </div>


    <!--Birth Date-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Data de nascimento:
      </div>
      <div class="caixa-30">
        <input class="w-100 form-control fu" (change)="calculaIdade()"  type="date" id="birth_date" formControlName="p04_birth_date">
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p04_birth_date')" width="15px" height="15px">
      </div>
      <div class="caixa-10 d-flex align-items-center">
        Idade:
      </div>
      <div class="caixa-20">
        <input class="w-100 form-control" disabled  type="number" id="age" formControlName="p05_age">
      </div> 
    </div>
    <div class="caixa-100" *ngIf="checaIdade()">
      <div class="caixa-20"></div>
      <div class="caixa-80">
        <i><font color="red">O participante deve ter entre 18 e 120 anos.</font></i>
      </div>
    </div>

    <!--Gender-->
    <div class="caixa-100 d-flex align-items-center">
      <div class="caixa-20">
        Gênero:
      </div>
      <div class="caixa-30">
        <select class="w-100 form-control fu"  id="gender" formControlName="p06_gender">
          <option value="O">Outros</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select>
      </div>
      <div class="caixa-10">
        <img [src]="mudou('p06_gender')" width="15px" height="15px">
      </div>        
    </div>
    <!---------->
    <!--Image
    <div class="d-flex flex-column my-2">
      <label class="mb-0" for="profile_photo_URL">Imagem de perfil:</label>
      <input type="file" id="profile_photo_URL" accept="image/*" formControlName="p20_profile_photo_URL">
    </div>
      ------->
    <div class="caixa-100">
      <div class="caixa-20 d-flex align-items-center">
        <button class="btn btn-danger" (click)="addParticipantForm.reset()" type="button" data-toggle="collapse" data-target="#addParticipant">Cancelar</button>
      </div>
      <div class="caixa-60"></div>
      <div *ngIf="formValido()" class="caixa-20 d-flex align-items-center">      
        <button class="btn btn-primary" (click)="addParticipant()" type="button" data-toggle="collapse" data-target="#addParticipant">Salvar</button>
      </div>
      <div *ngIf="!formValido()" class="caixa-20 d-flex align-items-center">      
        <button class="btn btn-secondary" disabled >Salvar</button>
      </div>
    </div>
  </form>
  <!------------------------------->
  <!--Title-->
  <h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2" *ngIf="participants.length">Participantes {{participants.length}}</span></h2>
  <h5 class="text-center text-primary mt-5" *ngIf="!participants.length">Nenhum participante adicionado</h5>
  <!--------->
  <!--Users-->
  <div class="d-flex flex-wrap w-xl-50 w-lg-75 mx-auto mb-5">
    <!--User1-->
    <div class="d-flex w-25 align-items-center flex-column p-2 border bg-white" *ngFor="let participant of participants">
      <img class="img-fluid px-5" src="assets/profile_placeholder.svg" alt="Foto de perfil">
      <h6 class="font-weight-bold text-primary text-center">{{ participant.getName() || 'Nome não registrado' }}</h6>
      <span class="m-0">{{ participant.getAge() + ' anos' || 'Idade não registrada' }}</span>
      <button class="btn btn-primary mt-4" (click)="goToParticipant(participant.getId())">Page</button>
    </div>
    <!--------->
  </div>
  <!-------->
</main>
