<main class="container-flex">
  <!--Adicionar Participante-->
  <div class="d-flex justify-content-center mt-5">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addParticipant">Adicionar participante</button>
  </div>
  <!-------------------------->
  <!--Menu Adicionar Participante-->
  <form class="d-flex flex-wrap w-50 mx-auto bg-white shadow px-4 py-4 mt-5 collapse" id="addParticipant" [formGroup]="addParticipantForm">
    <h3 class="font-weight-bold mb-4 text-primary w-100">Dados</h3>
    <div class="d-flex flex-column w-50 px-3">
      <!--Email-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="email">Email:</label>
        <input style="background-color: whitesmoke;" type="email" id="email" formControlName="p00_email">
      </div>
      <!--------->
      <!--Name-->
      <div class="d-flex flex-column">
        <label class="mb-0" for="name">Nome:</label>
        <input style="background-color: whitesmoke;" type="text" id="name" formControlName="p01_name">
      </div>
      <!-------->
      <!--Address-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="address">Endereço:</label>
        <input style="background-color: whitesmoke;" type="text" id="address" formControlName="p02_address">
      </div>
      <!----------->
      <!--Communication-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="communication">Comunicação:</label>
        <input style="background-color: whitesmoke;" type="text" id="communication" formControlName="p03_communication">
      </div>
      <!----------------->
    </div>
    <div class="d-flex flex-column w-50 px-3">
      <!--Birth Date-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="birth_date">Data de nascimento (yyyy-mm-dd):</label>
        <input style="background-color: whitesmoke;" type="text" id="birth_date" formControlName="p04_birth_date">
      </div>
      <!-------------->
      <!--Age-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="age">Idade:</label>
        <input style="background-color: whitesmoke;" type="number" id="age" formControlName="p05_age">
      </div>
      <!--------->
      <!--Gender-->
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="gender">Gênero:</label>
        <select style="background-color: whitesmoke;" id="gender" formControlName="p06_gender">
          <option value="O">Outros</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select>
      </div>
      <!---------->
      <!--Image
      <div class="d-flex flex-column my-2">
        <label class="mb-0" for="profile_photo_URL">Imagem de perfil:</label>
        <input type="file" id="profile_photo_URL" accept="image/*" formControlName="p20_profile_photo_URL">
      </div>
      ------->
    </div>
    <div class="d-flex justify-content-between mt-4 w-100">
      <button class="btn btn-danger" (click)="addParticipantForm.reset()" type="button" data-toggle="collapse" data-target="#addParticipant">Cancelar</button>
      <button class="btn btn-primary" (click)="addParticipant()" type="button" data-toggle="collapse" data-target="#addParticipant">Adicionar participante</button>
    </div>
  </form>
  <!------------------------------->
  <!--Title-->
  <h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2" *ngIf="participants.length">Participantes {{participants.length}}</span></h2>
  <h5 class="text-center text-primary mt-5" *ngIf="!participants.length">Nenhum participante adicionado</h5>
  <!--------->
  <!--Users-->
  <div class="d-flex flex-wrap w-xl-50 w-lg-75 mx-auto mb-5">
    <!--User1-->
    <div class="d-flex w-25 align-items-center flex-column p-2 border bg-white" *ngFor="let participant of participants">
      <img class="img-fluid px-5" src="assets/profile_placeholder.svg" alt="Foto de perfil">
      <h6 class="font-weight-bold text-primary text-center">{{ participant.getName() || 'Nome não registrado' }}</h6>
      <span class="m-0">{{ participant.getAge() + ' anos' || 'Idade não registrada' }}</span>
      <button class="btn btn-primary mt-4" (click)="goToParticipant(participant.getId())">Page</button>
    </div>
    <!--------->
  </div>
  <!-------->
</main>
