<div class="border bg-white shadow-lg mt-5 p-3">
    <!--Recomendações-->
    <div class="container-flex">
      <div class="row ml-md-5">
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <img [src]="activity.image || 'assets/image_placeholder.png'" height="150px" class="rounded bg-light">
        </div>
        <div class="col d-flex flex-column justify-content-center align-items-center">
          <input maxlength="50" class="text-primary text-center font-weight-bold h3 mt-4 mt-md-0" [value]="activity.title || ''" (change)="updateTitle($event.target.value)" (click)="$event.target.select();" placeholder="Adicionar título"/>
          <div class="mt-4 text-center w-100" [ngbCollapse]="!isAddActivity && !details">
            <span class="h5 text-primary font-weight-bold">Descrição</span>
            <textarea class="w-100 text-justify overflow-auto w-100 mt-3" rows="3" (change)="updateDescription($event.target.value)" (click)="$event.target.select()" style="resize: none; border: none" placeholder="Clique para adicionar uma descrição">{{ activity.description || '' }}</textarea>
          </div>
          <!--Options-->
          <!-- These buttons are duplicated here and in the end of the page -->
          <div class="d-flex justify-content-center flex-wrap w-100 pb-4 mt-3" *ngIf="!isAddActivity" [ngbCollapse]="details">
            <button *ngIf="!isAddActivity" class="btn btn-danger w-100 w-md-25 mr-md-2" type="button" (click)="deleteActivity()">Deletar</button>
            <button *ngIf="!isAddActivity" class="btn btn-success w-100 w-md-25 ml-md-2" type="button" (click)="details = !details">Detalhes</button>
          </div>
          <!----------->
        </div>
      </div>
    </div>
    <!----------------->
    <!--Details-->
    <div class="container" [ngbCollapse]="isAddActivity || !details">
      <div class="row mx-4 mt-md-4" *ngIf="!isAddActivity">
        <!--Caracteristicas-->
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <ul>
            <span class="text-primary font-weight-bold">Características ({{ activity?.characteristic?.length || 0 }})</span>
            <app-detail-item *ngFor="let characteristic of activity.characteristic" [detailItem]="characteristic" [type]="'characteristic'" (removeDetailItem)="removeDetailItem($event, 'characteristic')"></app-detail-item>
            <app-detail-item (addDetailItem)="addDetailItem($event, 'characteristic')" [type]="'characteristic'"></app-detail-item>
          </ul>
        </div>
        <!------------------->
        <!--Beneficios-->
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <ul>
            <span class="text-primary font-weight-bold">Benefícios ({{ activity?.benefit?.length || 0 }})</span>
            <app-detail-item *ngFor="let benefit of activity.benefit" [detailItem]="benefit" [type]="'benefit'" (removeDetailItem)="removeDetailItem($event, 'benefit')"></app-detail-item>
            <app-detail-item (addDetailItem)="addDetailItem($event, 'benefit')" [type]="'benefit'"></app-detail-item>
          </ul>
        </div>
        <!-------------->
        <!--Restricoes-->
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <ul>
            <span class="text-primary font-weight-bold">Restrições ({{ activity?.restriction?.length || 0 }})</span>
            <app-detail-item *ngFor="let restriction of activity.restriction" [detailItem]="restriction" [type]="'restriction'" (removeDetailItem)="removeDetailItem($event, 'restriction')"></app-detail-item>
            <app-detail-item (addDetailItem)="addDetailItem($event, 'restriction')" [type]="'restriction'"></app-detail-item>
          </ul>
        </div>
        <!-------------->
        <!--Tipos-->
        <div class="col-12 col-md-3 d-flex justify-content-center">
          <ul>
            <span class="text-primary font-weight-bold">Tipos ({{ activity?.type?.length || 0 }})</span>
            <app-detail-item *ngFor="let type of activity.type" [detailItem]="type" [type]="'type'" (removeDetailItem)="removeDetailItem($event, 'type')"></app-detail-item>
            <app-detail-item (addDetailItem)="addDetailItem($event, 'type')" [type]="'type'"></app-detail-item>
          </ul>
        </div>
        <!--------->
      </div>
    </div>
    <!----------->
    <!--Options-->
    <div class="d-flex justify-content-center flex-wrap pb-4 mt-3" [ngbCollapse]="!details">
      <button *ngIf="!isAddActivity" class="btn btn-danger w-100 w-md-10 mr-md-2" type="button" (click)="deleteActivity()">Deletar</button>
      <button *ngIf="!isAddActivity" class="btn btn-success w-100 w-md-10 ml-md-2" type="button" (click)="details = !details">Detalhes</button>
      <button *ngIf="isAddActivity" class="btn btn-primary" type="button" (click)="createActivity()">Adicionar</button>
    </div>
    <!----------->
  </div>
