<app-cognitive-deficit [cognitionDeficit]="cognitionDeficit" (cognitionDeficit)="setCognitiveDeficit($event)"></app-cognitive-deficit>
<app-negative-attitudes-aging [negativeAttitudesAging]="negativeAttitudesAging" (negativeAttitudesAging)="setNegativeAttitudesAging($event)"></app-negative-attitudes-aging>
<app-depression [depression]="depression" (depression)="setDepression($event)"></app-depression>
<app-observations-psychological [comments]="comments_psico" (comments)="setComments($event)"></app-observations-psychological>
