<app-cognitive-deficit [cognitionDeficit]="cognitionDeficit" (cognitionDeficit)="setCognitiveDeficit($event)"></app-cognitive-deficit>
<app-negative-attitudes-aging [negativeAttitudesAging]="negativeAttitudesAging" (negativeAttitudesAging)="setNegativeAttitudesAging($event)"></app-negative-attitudes-aging>
<app-depression [depression]="depression" (depression)="setDepression($event)"></app-depression>
<app-observations-psychological [comments]="comments_psico" (comments)="setComments($event)"></app-observations-psychological>

<!--Continue-->
<div class="d-flex align-items-center justify-content-around p-3 mt-4">
  <button class="btn btn-primary" [routerLink]="['../']">Voltar</button>
  <button *ngIf="!isComplete" class="btn btn-primary" (click)="submit()">Salvar e continuar</button>
  <button *ngIf="isComplete" class="btn btn-primary" (click)="submit()" [routerLink]="['../biological-aspect']">Salvar e continuar</button>
</div>
<!------------>
