<!DOCTYPE html>
<head>

</head>
<body>
  <main class="d-flex justify-content-center">
    <div class="d-flex justify-content-center flex-wrap text-justify w-md-50 p-3">
      <h1 class="mb-5">Active aging recommendation project</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed elementum urna, sit amet dictum velit. Nam faucibus mi nisi, at scelerisque ipsum mollis vitae. Sed posuere eget metus sed blandit. Maecenas sed venenatis lectus. Praesent velit lorem, consectetur at mollis sit amet, pharetra vel tortor. Praesent sed sapien finibus, porttitor quam et, blandit elit. Donec ipsum tellus, aliquet et tincidunt eget, commodo in est. Nullam molestie lorem a volutpat vehicula. Phasellus eget dui vitae purus lacinia placerat. In lacinia, nulla quis venenatis egestas, metus augue consequat sapien, non malesuada arcu ipsum eget ex.</p>
      <form class="d-flex justify-content-center w-50 mt-5">
        <app-login></app-login>
      </form>
    </div>
  </main>
</body>
