<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Nome do usuário</title>
</head>
<body class="bg-primary">
<main class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="d-flex justify-content-center flex-wrap bg-white border shadow-lg rounded-lg px-5 py-5">
    <h2 class="font-weight-bold">Active aging</h2>
    <img src="assets/share.svg" class="img-fluid flex-basis-100 my-5" width="250px">
    <app-login></app-login>
  </div>
</main>
</body>
</html>
