<!--Dados gerais page-->
<div class="bg-white container-fluid pb-4">
  <div class="row">
    <label class="mt-2 mr-3 offset-3 col-3" for="service">Serviço/instituição:</label>
    <input class="form-control col-3 mb-3" id="service" type="text" (change)="setService(service.value)" #service>
    <label class="mb-0 mr-3 offset-3 col-3" for="entrance">Data de entrada no serviço/instituição (AAAA-MM-DD):</label>
    <input class="form-control col-3" id="entrance" type="date" (change)="setEntrance(entrance.value)" #entrance>
  </div>
</div>
<!--------------------->
<router-outlet></router-outlet>
