<li class="input-group align-items-center" [title]="detailItem.description || 'Adicionar novo item'">
  <input maxlength="50" class="form-control-plaintext text-truncate py-1" [value]="detailItem.description || ''" placeholder="Adicionar novo item" (change)="updateDetailItem($event.target.value)" (click)="$event.target.select();">
  <i *ngIf="!isAddDetailItem" class="fas fa-times-circle text-danger input-group-append" (click)="deleteDetailItem()"></i>
  <i *ngIf="isAddDetailItem" class="fas fa-plus-circle text-success input-group-append" (click)="createDetailItem()"></i>
</li>
