<!--Title-->
<h2 class="text-center mt-5"><span class="bg-success rounded-pill rounded-bottom-0 text-white px-5 py-2">Desnutrição</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">26.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) que está desnutrido?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim1">
            <label class="m-0 ml-1" for="sim1">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao1">
            <label class="m-0 ml-1" for="nao1">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">27.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) tem lesões na região bucal ou algum outro problema que provoque dificuldades de mastigação?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim2">
            <label class="m-0 ml-1" for="sim2">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao2">
            <label class="m-0 ml-1" for="nao2">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">28.</div>
        <span class="col-12 col-md-9">O(A) senhor(a) faz menos de três refeições por dia?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim3">
            <label class="m-0 ml-1" for="sim3">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao3">
            <label class="m-0 ml-1" for="nao3">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">29.</div>
        <span class="col-12 col-md-9">Nos últimos 3 meses, o(a) senhor(a) Diminuiu sua ingesta alimentar sem motivo?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim4">
            <label class="m-0 ml-1" for="sim4">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao4">
            <label class="m-0 ml-1" for="nao4">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">30.</div>
        <span class="col-12 col-md-9">Nos últimos 3 meses, o(a) senhor(a) Perdeu peso sem motivo aparente?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim5">
            <label class="m-0 ml-1" for="sim5">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao5">
            <label class="m-0 ml-1" for="nao5">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">31.</div>
        <span class="col-12 col-md-9">Passou por algum estresse psicológico, doença aguda ou internações?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim6">
            <label class="m-0 ml-1" for="sim6">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao6">
            <label class="m-0 ml-1" for="nao6">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-success font-weight-bold">32.</div>
        <span class="col-12 col-md-9">Índice de Massa Corporal (peso[kg]/ estatura[m2]) = kg/m2) igual ou menor que 22 kg/m2?</span>
        <div class="col-12 col-md-2 d-flex justify-content-around flex-wrap">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="sim7">
            <label class="m-0 ml-1" for="sim7">Sim</label>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <input type="checkbox" id="nao7">
            <label class="m-0 ml-1" for="nao7">Não</label>
          </div>
        </div>
      </div>
    </div>
    <!------------->
  </div>
  <!------------->
  <!--Pontuation-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <span class="text-success font-weight-bold h4 mr-3">Pontuação:</span>
    <span class="h5">7 pontos</span>
  </div>
  <!------------->
  <!--Intervenção-->
  <div class="d-flex justify-content-center align-items-center p-3">
    <input type="checkbox" id="depression-intervention">
    <label class="mb-0 ml-2" for="depression-intervention">Necessita intervenção?</label>
  </div>
  <!--------------->
</div>
<!----------->
