<!--Title-->
<h2 class="text-center mt-5"><span class="bg-secondary rounded-pill rounded-bottom-0 text-white px-5 py-2">Dados gerais</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg">
  <!--Perguntas-->
  <div class="p-3">
    <!--Pergunta1-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">1.</div>
        <span class="col-12 col-md-8">Estado civil:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="Solteiro(a)">Solteiro(a)</option>
            <option value="Casado(a)/União Estável">Casado(a)/União Estável</option>
            <option value="Separado(a)/Divorciado(a)">Separado(a)/Divorciado(a)</option>
            <option value="Viúvo(a)">Viúvo(a)</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta2-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">2.</div>
        <span class="col-12 col-md-8">Escolaridade:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="analfabeto">analfabeto</option>
            <option value="ensino fundamental (incompleto)">ensino fundamental (incompleto)</option>
            <option value="ensino fundamental (completo)">ensino fundamental (completo)</option>
            <option value="ensino médio (incompleto)">ensino médio (incompleto)</option>
            <option value="ensino médio (completo)">ensino médio (completo)</option>
            <option value="ensino superior (incompleto)">ensino superior (incompleto)</option>
            <option value="ensino superior (completo)">ensino superior (completo)</option>
            <option value="ensino supeiror (com pós-graduação)">ensino supeiror (com pós-graduação)</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta3-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">3.</div>
        <span class="col-12 col-md-8">Tempo de estudo:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="number">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta4-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">4.</div>
        <span class="col-12 col-md-8">É Aposentado ou pensionista?:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta5-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">5.</div>
        <span class="col-12 col-md-8">Aposentado por qual profissao:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta6-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">6.</div>
        <span class="col-12 col-md-8">Profissão atual:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta7-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">7.</div>
        <span class="col-12 col-md-8">Se aposentado, qual profissão exerceu por mais tempo:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta8-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">8.</div>
        <span class="col-12 col-md-8">Exerce atividade remunerada?:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta9-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">9.</div>
        <span class="col-12 col-md-8">Atividade Remunerada exercida:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!------------->
    <!--Pergunta10-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">10.</div>
        <span class="col-12 col-md-8">Rendimento Mensal Individual:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="BPC">BPC</option>
            <option value="Até um salário mínimo">Até um salário mínimo</option>
            <option value="mais de 1 a 2 salários mínimos">mais de 1 a 2 salários mínimos</option>
            <option value="mais de 2 a 3 salários mínimos">mais de 2 a 3 salários mínimos</option>
            <option value="mais de 3 a 4 salários mínimos">mais de 3 a 4 salários mínimos</option>
            <option value="mais de 4 a 5 salários mínimos">mais de 4 a 5 salários mínimos</option>
            <option value="mais de 5 a 10 salários mínimos">mais de 5 a 10 salários mínimos</option>
            <option value="mais de 10 salários mínimos">mais de 10 salários mínimos</option>
          </select>
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta11-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">11.</div>
        <span class="col-12 col-md-8">Rendimento Mensal Familiar:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="BPC">BPC</option>
            <option value="Até um salário mínimo">Até um salário mínimo</option>
            <option value="mais de 1 a 2 salários mínimos">mais de 1 a 2 salários mínimos</option>
            <option value="mais de 2 a 3 salários mínimos">mais de 2 a 3 salários mínimos</option>
            <option value="mais de 3 a 4 salários mínimos">mais de 3 a 4 salários mínimos</option>
            <option value="mais de 4 a 5 salários mínimos">mais de 4 a 5 salários mínimos</option>
            <option value="mais de 5 a 10 salários mínimos">mais de 5 a 10 salários mínimos</option>
            <option value="mais de 10 salários mínimos">mais de 10 salários mínimos</option>
          </select>
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta12-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">12.</div>
        <span class="col-12 col-md-8">Mora com:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta13-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">13.</div>
        <span class="col-12 col-md-8">Possui religião?:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <select class="w-100">
            <option selected disabled>Selecione</option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta14-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">14.</div>
        <span class="col-12 col-md-8">Religião:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta15-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">14.</div>
        <span class="col-12 col-md-8">Autorelato de saúde:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta16-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">16.</div>
        <span class="col-12 col-md-8">Peso:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta17-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">17.</div>
        <span class="col-12 col-md-8">Altura:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta18-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">18.</div>
        <span class="col-12 col-md-8">IMC:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <input class="w-100" type="text">
        </div>
      </div>
    </div>
    <!-------------->
    <!--Pergunta19-->
    <div class="container-flex border-bottom escuro p-4">
      <div class="row">
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center text-secondary font-weight-bold">19.</div>
        <span class="col-12 col-md-8">Observações:</span>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap">
          <textarea class="w-100"></textarea>
        </div>
      </div>
    </div>
    <!-------------->
  </div>
  <!------------->
  <!--Continue-->
  <div class="d-flex align-items-center justify-content-center p-3 mt-3">
    <button class="btn btn-secondary">Salvar e continuar</button>
  </div>
  <!------------>
</div>
<!----------->
