<!--Title-->
<h2 class="text-center mt-5"><span class="bg-primary rounded-pill rounded-bottom-0 text-white px-5 py-2">Depressão</span></h2>
<!--------->
<!--Content-->
<div class="w-xl-75 w-lg-75 mx-auto border bg-white shadow-lg" [formGroup]="pageForm">
  <!--Perguntas-->
  <div class="form-group p-3" formGroupName="psychologicalAspectsForm">
    <div class="form-group p-3" formGroupName="depressionForm">
      <app-base>
        <!-- Lado Esquerdo-->
        <div class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color: lightgrey;">
          <b>DEPRESSÃO</b>
        </div>
        
        <!-- Centro -->
        <span class="col-12 col-md-9">
        
          <!--Pergunta1-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="azul">9. </b>De modo geral o(a) senhor(a) está satisfeito com a vida?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q9_satisfied_with_life">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q9_satisfied_with_life')" width="15px" height="15px">
              </div>
            </span>
          </app-base>

          <!------------->
          <!--Pergunta2-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">          
              <div class="caixa-100">  
                <b class="azul">10. </b>O(a) senhor(a) se sente triste com frequência?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q10_frequently_sad">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q10_frequently_sad')" width="15px" height="15px">
              </div>
            </span>            
          </app-base>
          <!------------->
          <!--Pergunta3-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado"> 
              <div class="caixa-100">
                <b class="azul">11. </b> O(a) senhor(a) abandonou muitas das coisas que fazia ou gostava de fazer?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q11_stopped_doing_things">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q11_stopped_doing_things')" width="15px" height="15px">
              </div>
            </span> 
          </app-base>
          <!------------->
          <!--Pergunta4-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado"> 
              <div class="caixa-100">
                <b class="azul">12. </b> O(a) senhor tem medo de que algum mal vá lhe acontecer?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q12_fear_bad_things_happen">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q12_fear_bad_things_happen')" width="15px" height="15px">
              </div>
            </span> 
          </app-base>
          <!------------->
          <!--Pergunta5-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="azul">13. </b> O(a) Sr.(a) se sente impaciente e agitado(a) com frequência?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q13_impatient_disquiet">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q13_impatient_disquiet')" width="15px" height="15px">
              </div>
            </span> 
          </app-base>            

          <!------------->
          <!--Pergunta6-->
          <app-base>
            <span class="col-12 col-md-9 borda-lado">
              <div class="caixa-100">
                <b class="azul">14. </b>O(a) Sr.(a) tem dificuldades em concentrar-se?
              </div>
            </span>
            <span class="col-12 col-md-3">
              <div class="caixa-85">
                <select style="background-color: whitesmoke;" class="w-100 form-control" formControlName="q14_concentration_problem">
                  <option value="" selected disabled>Selecione</option>
                  <option value="S">Sim</option>
                  <option value="N">Não</option>
                </select>
              </div>
              <div class="caixa-15">
                    <img style="margin-left: 10px;" [src]="mudou('q14_concentration_problem')" width="15px" height="15px">
              </div>
            </span>
          </app-base>
        </span>
        <!----- Perguntas -------->
        <!-- Lado Direito-->  
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color:lightskyblue ;">
          <!--Pontuation-->
          Pontuação: (<b>{{conta_certo()}}</b>) - máximo: ({{max_score}})
        </span>
        <span class="col-12 col-md-1 d-flex justify-content-center align-items-center example Text3" style="background-color:lightskyblue ;">
            <!--Intervenção-->
          Necessita de investigação?                      
          <select style="margin-top:40px; background-color: whitesmoke; width: 100%; transform: rotate(90deg);" class="form-control"  formControlName="need_investigation_depression">
            <option value="" selected disabled></option>
            <option value="S">Sim</option>
            <option value="N">Não</option>
          </select>
          <img [src]="mudou('need_investigation_depression')" width="15px" height="15px" style="margin-top: 20px;">
        </span>          
        
        <div class="caixa-100">
          <app-status [valido]="formValido()" [branco]="branco" [errado]="errado"></app-status>
        </div> 

      </app-base>
    </div>
  </div>
</div>




<!----------->
