input {
  border: none;
  border-bottom: 1px solid #bbb;
}

.rounded-bottom-0 {
  border-bottom-right-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.rounded-right-0 {
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
}

.rounded-left-0 {
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important;
}

.shadow-top-sm {
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.btn-outline-primary.focus {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary.focus {
  background-color:#007bff;
  box-shadow: none;
  color: #FFFFFF !important;
}

.flex-basis-100 {
  flex-basis: 100%;
}

.pointer {
  cursor: pointer;
}

.primary-hover:hover {
  background-color: #007bff !important;
  color: white !important;
}

.primary-hover:checked {
  background-color: #0062cc;
  border-color: #005cbf;
}

.danger-hover:hover {
  background-color: #dc3545 !important;
  color: white !important;
}

.danger-hover:checked {
  background-color: #bd2130;
  border-color: #b21f2d;
}

.warning-hover:hover {
  background-color: #ffc107 !important;
  color: white !important;
}

.warning-hover:checked {
  background-color: #d39e00;
  border-color: #c69500;
}

.success-hover:hover {
  background-color: #28a745 !important;
  color: white !important;
}

.success-hover:checked {
  background-color: #1e7e34;
  border-color: #1c7430;
}

.info-hover:hover {
  background-color: #17a2b8 !important;
  color: white !important;
}

.info-hover:checked {
  background-color: #117a8b;
  border-color: #10707f;
}

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }
}
